@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid-cols-sidebar-outlet {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.menuIcon {
  display: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.customersContainer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* padding-right: 2rem /* 32px */;
  /* padding-left: 2rem 32px; */ 
}

@media (min-width: 1400px) {
  .customersContainer {
    max-width: 1400px;
  }
}

@media screen and (max-width: 1024px) {
  .linkText {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .grid-cols-sidebar-outlet {
    grid-template-columns: 60px 1fr;
  }
  .logOutAvatar {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .grid-cols-sidebar-outlet {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 440px) and (max-width: 1024px) {
  .custom-md-col-span {
    grid-column: span 6;
  }
}

@media screen and (max-width: 440px) {
  .custom-md-col-span {
    grid-column: span 12;
  }
}

@media screen and (max-width: 639px) {
  .menuIcon {
    display: block;
  }
}


@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.1) 100%);
  background-size: 200% 100%;
}


.containerLg {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem/* 32px */;
  padding-left: 2rem/* 32px */;
}
@media (min-width: 1400px)  {
  .containerLg {
      max-width: 100%;
  }
}

